body{
    /*background-color: lightsteelblue;*/
}


#homepage{
    /*background-color: black;*/
    background-image: url("../pictures/lots_of_colors.jpg");
    height: auto;
    width: 100%;
}

/*
#menubar{
    width:100%;
    height: 5%;
    position: absolute;
    background-color: antiquewhite;
}*/
/*
.menubuton{
    position: center;
}*/

.page{
    display: flex;
}

.leftcontent{
    /*width: 15%;*/
    display: flex;
    flex-direction: column;
    background-color: lightsteelblue;
    margin-right: 1%;
    padding: 20px;
    font-size: 30px;
}

.maincontent{
    display: flex;
    flex-direction: column;
    background-color: lightsteelblue;
    font-family: "Arial Black";
}

.rightcontent{
    /*width: 20%;*/
    display: flex;
    flex-direction: column;
    background-color: lightsteelblue;
    margin-left: 1%;
    padding: 20px;
    font-size: 30px;
}

.content > h1 {
    font-style: oblique;
}

#menubar {
    display: flex;
    background-color: antiquewhite;
}

#menubar > div {
    background-color: rgb(90%,80%,80%);
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}
/*
.menubuton:hover{
    font-size: larger;
}*/
